/* -------------------------------- */
/* ---------- CSS Reset ----------- */
/* -------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Add your styles below */

/* Universal css */

body {
  background-color: black;
}

li,
p,
a,
h1 {
  color: white;
  font-family: Arial, sans-serif;
}

/* Header section */

header {
  display: flex;
  justify-content: space-between;
  padding-top: 3%;
  padding-bottom: 2%;
  border-bottom: 1px #f5f5f5 solid;
}

header > img {
  width: 5rem;
  padding-left: 0.5rem;
}

nav > ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding-right: 0.5rem;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration-line: underline;
}

/* profile section */

#profile {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}

#profile figure {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

#profile img {
  max-width: 300px;
  border-radius: 100%;
}

#profile p,
#profile h1,
#profile ul {
  display: flex;
  justify-content: flex-start;
  margin-left: 20%;
  margin-right: 20%;
  gap: 10px;
  padding-bottom: 0.5rem;
}

#profile ul {
  display: flex;
  flex-direction: row;
}

/* Posts section */

#posts figure {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
}

.grid-container {
  display: grid;
  gap: 20px;
  flex: 1;
}

/* Media Queries */

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }

  section {
    flex-direction: row;
  }
}

@media (min-width: 992px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
